<!--wide ad start-->
<div class="col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s" data-wow-offset="25">
    <img class="img-responsive" src="~/Themes/blog/images/ads/728-90-ad.gif" width="728" height="90" alt="" />
</div>
<!--wide ad end-->