@using News.Models;
@using News.Data;
<div class="row">
    <!-- hot news start -->
    <div class="col-sm-16 hot-news hidden-xs">
        <div class="row">
            <div class="col-sm-15">
                <span class="ion-ios7-timer icon-news pull-left"></span>
                @RenderPage(Functions.GetFilePath("partials/hot-news"))
            </div>
            <div class="col-sm-1 shuffle text-right"><a href="#"><span class="ion-shuffle"></span></a></div>
        </div>
    </div>
    <!-- hot news end -->
    <!-- banner outer start -->
    <div class="col-sm-16 banner-outer wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
        <div class="row">
            <div class="col-sm-16 col-md-10 col-lg-8">
                <!-- carousel start -->
               @RenderPage(Functions.GetFilePath("partials/carousel-1"))
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8 hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-lg-6 hidden-md">
                        @RenderPage(Functions.GetFilePath("partials/carousel-2"))
                    </div>
                    <div class="col-md-16 col-lg-10">
                        <div class="row">
                            @RenderPage(Functions.GetFilePath("partials/carousel-3"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner outer end -->
</div>