<!-- bage header start -->
<div class="page-header">
    <h1>Not Found </h1>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">pages</a></li>
        <li class="active">Not Found</li>
    </ol>
</div>
<!-- bage header end -->
<!-- data start -->
<section>
    <div class="container ">
        <div class="col-md-11 col-sm-11">
            <div class="row">
                <div class="col-sm-16">
                    <h3>Nội dung đang được xây dựng</h3>
                </div>                
            </div>
        </div>
    </div>
</section>
