<div class="row ">
    <!-- left sec Start -->
    <div class="col-sm-16">
        <div class="row">
            <div id="map_canvas" class="col-sm-16">
                <div style="overflow:hidden;width:100%;height:400px;resize:none;max-width:100%;"><div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Trường+Tiểu+học+Vĩnh+Lộc+2,+Thới+Hòa,+xã+Vĩnh+Lộc+A,+Hồ+Chí+Minh,+Việt+Nam&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-html" rel="nofollow" href="https://www.hostingreviews.website/compare/dreamhost-vs-bluehost" id="grab-map-data">dreamhost vs bluehost</a>
                <style>
                    #embedded-map-canvas img {
                        max-width: none !important;
                        background: none !important;
                        font-size: inherit;
                    }
                </style></div>
                <script src="https://www.hostingreviews.website/google-maps-authorization.js?id=1d53d0ac-3544-7d20-34d8-cdbdb864f4d4&c=google-html&u=1470298273" defer="defer" async="async"></script>
            </div>
            <div class="col-sm-16">
                <div class="row">
                    <div class="main-title-outer pull-left">
                        <div class="main-title">Be in touch</div>
                    </div>
                    <div class="col-sm-11">
                        <form action="" method="post" name="" class="comment-form">
                            <div class="row">
                                <div class="form-group col-xs-16 col-sm-8 name-field">
                                    <input type="text" placeholder="Name*" required="" class="form-control">
                                </div>
                                <div class="form-group col-xs-16 col-sm-8 email-field">
                                    <input type="email" placeholder="Email*" required="" class="form-control">
                                </div>
                                <div class="form-group col-xs-16 col-sm-16">
                                    <textarea placeholder="Your Message" rows="8" class="form-control" required id="message" name="message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4  adress">
                        <address>
                            <strong>Adress</strong><br>
                            Ấp 5, Vĩnh Lộc A<br>
                            Bình Chánh, Tp.HCM<br>
                            Phone: (+084) 0973-11-71-56
                        </address>
                        <address>
                            <strong>Advertising mail</strong><br>
                            <a href="mailto:thanhnhuan@gmail.com">thanhnhuan@gmail.com</a>
                        </address>
                        <strong>Social</strong><br>
                        <ul class="list-inline">
                            <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                            <li><a href="https://www.facebook.com/portfolio.namlong"><span class="ion-social-facebook"></span></a></li>
                            <li><a href="#"><span class="ion-social-googleplus"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- left sec End -->

</div>