
<footer>
    <div class="row">
        <div class="col-sm-10">
            <span id="footer-thankyou">Thank you for creating with <a href="http://www.gepapixel.com/">gepapixel.com </a>&copy; @DateTime.Now.Year</span>
        </div>
        <div class="col-sm-2">
            <p class="text-right">Version 0.1</p>
        </div>
    </div>
</footer>

